:root{
   --first-title-color: #212121;
   --second-title-color: #ffffff ; 
  
}

body {
    font-family: 'Roboto';
    
  
}

  


/*-------------Header-----------*/
.header-web-studio{
font-family: 'Raleway';
    font-style: normal;
font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    list-style: none;
        text-decoration: none;

    color: #000000;
 
}
.header-web{
    color: #2196F3;
}

.header-link{
   
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: var(--first-title-color);
        list-style: none;
        text-decoration: none;

}
.header-item :hover,.header-item :focus
{
   color: #2196F3; 
}

.header-link-contact {
   
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        list-style: none;
        text-decoration: none;
    
        color: #757575;
}
.header-link-contact:hover,
.header-link-contact:focus{
        color: #2196F3;

    }

        /*-------------Main-----------*/

    /*-------------section name-----------*/
.name{  
    background-color: #2F303A;
}

.main_name{

        
        font-size: 44px;
        line-height: 60px;
       
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: var(--second-title-color)
}
.name_btn{
        background-color: #2196F3;
        
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--second-title-color)
        cursor: pointer;
    
}

    

.peculiarity_list{
    list-style: none;
}

.peculiarity_item{
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
    
        color: var(--first-title-color)
}
.peculiarity_text{
   
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: #757575;
}
/*-------------section work-----------*/
.work{
  
        font-size: 36px;
        line-height:1.16;
        letter-spacing: 0.03em;
    
        color:var(--first-title-color)
    

}
.img_work{
    list-style: none;
        text-decoration: none;
}
/*-------------section team-----------*/
.team{
        font-size: 36px;
        line-height: 1.16;

        letter-spacing: 0.03em;
        
    
        color:var(--first-title-color)

}
.team_list{
    list-style: none;
        text-decoration: none;
}
.team_name{

    font-family: 'Roboto';
        font-style: normal;
      
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
    
        color: var(--first-title-color)
}
.team_text{
 
        font-size: 16px;
        line-height: 1.18;
    
        letter-spacing: 0.03em;
    
        color: #757575;
}

 /*------------Footer-----------*/

 .footer {  

    background-color:#2F303A;
 }
.footer_web_studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--second-title-color)

}

.footer_web {
    color: #2196F3;
}

.footer_contacts_adress
{


    font-size: 14px;
    line-height: 24px;
  letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;;

    color:var(--second-title-color)
}

.footer_contacts_list{
   
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        list-style: none;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
}
.footer_contacts_adress:hover,
.footer_contacts_adress:focus {
    color: #2196F3;
}

.footer_contacts_list:hover,
.footer_contacts_list:focus {
    color: #2196F3;
}



 /*------------PORTFOLIO-----------*/
.portfolio_body{
    font-family: 'Roboto';

}



 .port_item{
  
        font-weight: 500;
        font-size: 16px;
        line-height:1.62;
        letter-spacing: 0.03em;   
        color: #212121;
        list-style: none;
            text-decoration: none;
 }
.port_item:hover,
.port_item:focus {
    color: #2196F3;}

    .menu_project_list{
        list-style: none;
            text-decoration: none;
        }
 .menu_project_name{

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color:var(--first-title-color)
        }
 .menu_project_text{
  
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    
        color: #757575;
 }
