.body{
    font-family: 'Roboto';
  
}




/*-------------Header-----------*/
.header_web_studio{
font-family: 'Raleway';
    font-style: normal;
font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    list-style: none;
        text-decoration: none;

    color: #000000;
 
}
.header_web{
    color: #2196F3;
}

.header_link{
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
        list-style: none;
        text-decoration: none;

}
.header_item :hover,.header_item :focus
{
   color: #2196F3; 
}

.header_link_contact {
   
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        list-style: none;
        text-decoration: none;
    
        color: #757575;
}
.header_link_contact:hover,
.header_link_contact:focus{
        color: #2196F3;

    }

        /*-------------Main-----------*/
.section_name{  
    background-color: #2F303A;
}

.main_name{

        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
       
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}
.section_name_btn{
        background-color: #2196F3;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        cursor: pointer;
    
}
.section_peculiarity_list{
    list-style: none;
}

.section_peculiarity_item{
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
    
        color: #212121;
}
.section_peculiarity_text{
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: #757575;
}

.section_work{
    font-weight: 700;
        font-size: 36px;
        line-height:1.16;
        letter-spacing: 0.03em;
    
        color: #212121;
    

}
.img_work{
    list-style: none;
        text-decoration: none;
}
.section_team{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;

        letter-spacing: 0.03em;
        
    
        color: #212121;

}
.section_team_list{
    list-style: none;
        text-decoration: none;
}
.section_team_name{

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
    
        color: #212121;
}
.section_team_text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
    
        letter-spacing: 0.03em;
    
        color: #757575;
}








 /*------------Footer-----------*/

 .footer {  

    background-color:#2F303A;
 }
.footer_web_studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: #FFFFFF;

}

.footer_web {
    color: #2196F3;
}

.footer_contacts_adress
{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;;

    color: #FFFFFF;
}

.footer_contacts_list{
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        list-style: none;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
}
.footer_contacts_adress:hover,
.footer_contacts_adress:focus {
    color: #2196F3;
}

.footer_contacts_list:hover,
.footer_contacts_list:focus {
    color: #2196F3;
}



