


.header{
width: 1600px;
    height: 80px;
    color: #ECECEC;
}

.web_studio {
    width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
     font-size: 26px;
     line-height: 31px;
      color: #000000;
}
.web{
    color: #2196F3;
}